@import "../../assets/styles/_variables";
@import "../../assets/styles/_function";

.container {
  margin: rem(50px) rem(120px);
  @media screen and (max-width: 1400px) {
    margin: rem(50px) rem(24px);
  }
}
.wrapper-circle {
  display: flex;
  justify-content: flex-end;
}
.new-weather {
  margin-top: rem(66px);
  display: flex;
  .weather {
    margin-right: rem(25px);
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 1400px) {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 0;
    .weather {
      margin-right: rem(25px);
      flex-basis: calc(50% - 3.3rem);
      margin-top: rem(25px);
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  @media screen and (max-width: 330px) {
    .weather {
      flex-basis: calc(100% - 3.3rem);
      margin-right: 0;
    }
  }
}
.hightlight {
  margin-top: rem(70px);
  &__content {
    margin-top: rem(30px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: rem(48px);
    grid-row-gap: rem(48px);
  }
  @media screen and (max-width: 992px) {
    &__content {
      grid-row-gap: rem(32px);
      grid-template-columns: 100%;
    }
  }
}
