@import "../../assets/styles/_variables";
@import "../../assets/styles/_function";

.container {
  margin: rem(50px) rem(123px);
  @media screen and (max-width: 992px) {
    margin: rem(50px) rem(24px);
  }
}
.wrapper-circle {
  display: flex;
  justify-content: flex-end;
}
.new-weather {
  margin-top: rem(66px);
  display: grid;
  grid-template-columns: repeat(5, rem(120px));
  grid-column-gap: rem(25px);
  justify-content: center;
  @media screen and (max-width: 992px) {
    grid-template-columns: rem(120px) rem(120px);
    grid-column-gap: rem(25px);
    grid-row-gap: rem(30px);
  }
}
.hightlight {
  margin-top: rem(70px);
  &__content {
    margin-top: rem(30px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: rem(48px);
    grid-row-gap: rem(48px);
  }
  @media screen and (max-width: 992px) {
    &__content {
      grid-row-gap: rem(32px);
      grid-template-columns: 100%;
    }
  }
}
